/* style contact.html */

#contact-header-title {
  font-size: 2.5rem;
  color: white;
  position: absolute;
  top: 40%;
  left: 20%;
  font-style: italic;
  /* opacity: 1; */
  letter-spacing: 10px;
  text-shadow: 5px 5px 5px #000000;
}

#get-in-touch-header {
  font-size: 32px;
  margin-top: 3rem;
  margin-left: 5rem;
  /* opacity: 1; */
}

#contact-info-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 40px 60px 40px 40px;
  width: 22%;
  position: absolute;
  top: 33%;
  right: 18%;
  background: linear-gradient(
    to right,
    rgb(120, 185, 185),
    rgb(40, 82, 95),
    rgb(0, 100, 100),
    rgb(5, 60, 70),
    rgb(0, 100, 100),
    rgb(40, 82, 95),
    rgb(120, 185, 185)
  );
  opacity: 0.8;
  box-shadow: 0px 0px 20px black;
  border-radius: 15px;
}

#contact-info-form {
  label {
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
  }
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    outline: none;
  }
  textarea {
    resize: vertical;
  }
  button {
    width: 13rem;
    height: 2.5rem;
    padding: 10px 20px;
    background-color: goldenrod;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.3s ease-in-out;
  }
}
